<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>

    <add name="desktop-e4tsg8d.Projekat7" connectionString="Data Source=DESKTOP-E4TSG8D;Initial Catalog=Projekat7;Integrated Security=True; MultipleActiveResultSets= true;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
